@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 1vh;
  --nox-black: #0f0f0f;
  --nox-gold: #e0c066;
  --nox-gray: #1e1e1e;
}

body {
  @apply bg-nox-black text-nox-gold font-sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-custom-mobile {
  background-image: url('/images/NOX_home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .bg-custom-desktop {
    background-image: url('/images/NOX_home_desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.fullscreen {
  width: 100vw;
  height: calc(var(--vh) * 100);
  overflow: hidden;
}