.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('/images/NOX_home.png');
}

@media (min-width: 768px) {
  .background {
    background-image: url('/images/NOX_home_desktop.png');
  }
}