.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url('/images/NOX_home.png'); /* mobiel standaard */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .background {
    background-image: url('/images/NOX_home_desktop.png'); /* desktop */
  }
}